{% extends 'base.html.twig' %}

{% block title %}Show all users{% endblock %}

{% block body %}
    <h1>All Users: </h1>
    <ul>
        {% for user in users %}
            <li>{{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}
